$primary-border-color: beige;

.home {
	text-align: center;
}

.home img {
	max-width: 150px;
	border-radius: 50%;
	border: $primary-border-color solid 2px;
}

.home h1 {
	margin-bottom: -10px;
	font-weight: 700;
    font-size: 40px;
}

.home h2 {
    font-weight: 200;
}

.home ul {
	margin-bottom: 10px;
}